#!/bin/bash -e

# To produce a nightly (unsigned) build of the Scala IDE with Scala 2.10.3-SNAPSHOT alone, for Eclipse
# 3.8 (Juno), run the following

./build-full-ide.sh ECLIPSE_PLATFORM=juno \
    VERSION_TAG=nightly \
    SCALA_VERSION=2.10.3-SNAPSHOT \
    SCALARIFORM_GIT_REPO=git://github.com/mdr/scalariform.git \
    SCALARIFORM_BRANCH=master \
    SCALA_REFACTORING_GIT_REPO=https://github.com/scala-ide/scala-refactoring \
    SCALA_REFACTORING_BRANCH=master \
    SCALA_IDE_BRANCH=master \
    BUILD_PLUGINS=true \
    WORKSHEET_BRANCH=master \
    SCALASEARCH_BRANCH=master \
    TYPESAFE_IDE_VERSION_TAG=4.0.x-nightly
