#!/bin/bash -e

# The following command builds a signed Scala IDE build of M3 with Scala 2.10.0 for Eclipse 4.2 (Juno),
# a signed worksheet based on the freshly built Scala IDE, and a Typesafe IDE (v2.1-M3) product based on
# the built Scala IDE and Worksheet.

if [[ $# -ne 2 ]]; then
  echo Usage: ./release_juno.sh.sample \<git-url-to-keystore\> \<keystore-password\>
  exit 1
fi

./build-full-ide.sh \
    ECLIPSE_PLATFORM=juno \
    VERSION_TAG=m3 \
    SCALA_VERSION=2.10.0 \
    SBINARY_BRANCH=scala-ide-2.1.0-m3 \
    SBT_GIT_REPO=git://github.com/scala-ide/xsbt.git \
    SBT_BRANCH=scala-ide-2.1.0-m3 \
    SCALARIFORM_GIT_REPO=git://github.com/scala-ide/scalariform.git \
    SCALARIFORM_BRANCH=scala-ide-2.1.0-m3 \
    SCALA_REFACTORING_GIT_REPO=https://github.com/scala-ide/scala-refactoring \
    SCALA_REFACTORING_BRANCH=scala-ide-2.1.0-m3 \
    SCALA_IDE_BRANCH=2.1.0-m3-juno \
    WORKSHEET_BRANCH=0.1.3 \
    SIGN_BUILD=true \
    BUILD_PLUGINS=true \
    TYPESAFE_IDE_VERSION_TAG=2.1-M3 \
    KEYSTORE_GIT_REPO=$1\
    KEYSTORE_PASS=$2